<section class="mainContent ">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card" id="list1" style="border-radius: .75rem; background-color: #002e46;">
          <div class="card-body py-4 px-4 px-md-5">

            <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
              <i class="fas fa-check-square me-1"></i>
              <u>My Todo</u>
            </p>

            <div class="pb-2">
              <div class="card">
                <form action="" id="Todo_Input">
                  <div class="card-body">
                   <div class="d-flex flex-row align-items-center">
                     <input type="text" class="form-control form-control-lg" id="Input_Data" name="Todo_Data" placeholder="Add new..." required>
                    <div class="addbtn">
                      <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i></button>
                  </div>
                </form>
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4">
            <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
            
              <p class="small mb-0 ms-4 me-2 text-muted">Sort</p>
              <select class="select">
                <option value="1">Added date</option>
                <option value="2">Due date</option>
              </select>
              <a href="#!" style="color: #23af89;" data-mdb-toggle="tooltip" title="Ascending"><i
                  class="fas fa-sort-amount-down-alt ms-2"></i></a>
            </div>
            <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link AllTab active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#All-Todo" type="button" role="tab" aria-controls="pills-home" aria-selected="true">All</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link ActiveTab" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#Active-Todo" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Active</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link CompletedTab" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#Inactive-Todo" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Completed</button>
  </li>
</ul>
  
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active text-light" id="All-Todo" role="tabpanel" aria-labelledby="All-Todo-tab ">1
  <div id="Datalists">
            {{#each TodoData}}
       <hr class="text-white">
            <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
              <li
                class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                <div class="form-check">
                  
                    <label class="switch mt-2">
															<input type="checkbox"  id="Todo{{this._id}}" onchange="TodoStatus('{{this._id}}')" checked>
															<span class="slider round"></span>
                </div>
              </li>
              <li
                class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                <p class="lead fw-normal mb-0">{{this.Todo_Data}}</p>
              </li>
              <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                <div class="d-flex flex-row justify-content-end mb-1">
                  <a  class="text-info" data-mdb-toggle="tooltip" title="Edit todo" ><i
                      class="fas fa-pencil-alt me-3" data-bs-toggle="modal" data-bs-target="#Edit_Todo{{this._id}}"></i></a>
                  <a href="javascript:DeleteTodo('{{this._id}}')" class="text-danger" data-mdb-toggle="tooltip" title="Delete todo"><i
                      class="fas fa-trash-alt"></i></a>
                </div>
                <div class="text-end text-muted">
                  <a href="#!" class="text-muted" data-mdb-toggle="tooltip" title="Created date">
                    <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>{{this.Date}}</p>
                  </a>
                </div>
              </li>
            </ul>
       <hr class="text-white">
                                                  <!-- Modal -->
              <div class="modal fade" id="Edit_Todo{{this._id}}" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" >
                    <div class="modal-content" style="background-color: #002e46;color:white">
                        <div class="modal-header">
                      <form action="/UpdateTodo" method="post" id="UpdateTodo">
                           <h5 class="modal-title" id="exampleModalLongTitle">Edit TO-DO</h5>
                           <input type="text" name="Todo_Id" value="{{this._id}}" readonly hidden>
                        </div>
                        <div class="modal-body" >
                          <input type="text" class="form-control" name="Todo_Data" id="UpdateTodo" value="{{this.Todo_Data}}">
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                           <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
          {{/each}}
          </div>
          </div>
           
                                        <!-- Inactive Todos -->
               
          <div class="tab-pane fade" id="Inactive-Todo" role="tabpanel" aria-labelledby="Inactive-Todo-tab">
            <div id="Datalists-profile">
            {{#each TodoData}}
            {{#unless this.Status}}
       <hr class="text-white">
            <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
              <li
                class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                <div class="form-check">
                  
                    <label class="switch mt-2">
															<input type="checkbox"  id="Todo{{this._id}}" onchange="TodoStatus('{{this._id}}')">
															<span class="slider round"></span>
                </div>
              </li>
              <li
                class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                <p class="lead fw-normal mb-0">{{this.Todo_Data}}</p>
              </li>
              <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                <div class="d-flex flex-row justify-content-end mb-1">
                  <a href="javascript:DeleteTodo('{{this._id}}')" class="text-danger" data-mdb-toggle="tooltip" title="Delete todo"><i
                      class="fas fa-trash-alt"></i></a>
                </div>
                <div class="text-end text-muted">
                  <a href="#!" class="text-muted" data-mdb-toggle="tooltip" title="Created date">
                    <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>{{this.Date}}</p>
                  </a>
                </div>
              </li>
            </ul>
       <hr class="text-white">
                                       
                {{/unless}}
          {{/each}}
          </div>
          </div>
          
  <div class="tab-pane fade" id="Active-Todo" role="tabpanel" aria-labelledby="Active-Todo-tab">
            <div id="Datalists-profile">
            {{#each TodoData}}
            {{#if this.Status}}
       <hr class="text-white">
            <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
              <li
                class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                <div class="form-check">
                  
                    <label class="switch mt-2">
															<input type="checkbox"  id="Todo{{this._id}}" onchange="TodoStatus('{{this._id}}')" checked>
															<span class="slider round"></span>
                </div>
              </li>
              <li
                class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                <p class="lead fw-normal mb-0">{{this.Todo_Data}}</p>
              </li>
              <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                <div class="d-flex flex-row justify-content-end mb-1">
                  <a  class="text-info" data-mdb-toggle="tooltip" title="Edit todo" ><i
                      class="fas fa-pencil-alt me-3" data-bs-toggle="modal" data-bs-target="#Edit_Todo{{this._id}}"></i></a>
                  <ahref="javascript:DeleteTodo('{{this._id}}')" class="text-danger" data-mdb-toggle="tooltip" title="Delete todo"><i
                      class="fas fa-trash-alt"></i></a>
                </div>
                <div class="text-end text-muted">
                  <a href="#!" class="text-muted" data-mdb-toggle="tooltip" title="Created date">
                    <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>{{this.Date}}</p>
                  </a>
                </div>
              </li>
            </ul>
       <hr class="text-white">
                                        <!-- Modal -->
              <div class="modal fade" id="Edit_Todo{{this._id}}" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" >
                    <div class="modal-content" style="background-color: #002e46;color:white">
                        <div class="modal-header">
                      <form action="/UpdateTodo" method="post" id="UpdateTodo">
                           <h5 class="modal-title" id="exampleModalLongTitle">Edit TO-DO</h5>
                           <input type="text" name="Todo_Id" value="{{this._id}}" readonly hidden>
                        </div>
                        <div class="modal-body" >
                          <input type="text" class="form-control" name="Todo_Data" id="UpdateTodo" value="{{this.Todo_Data}}">
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                           <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                {{/if}}
          {{/each}}
          </div>
          </div>
  </div>
</div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<div class="footer mt-5">
<footer class="mt-5">

</footer>
</div>